h1 badge

with badge
  h2= displayName
  p= description
  with badgeImage
    img.badge-image(src=url)

if canEdit
  hr
  with badge
    +quickForm(collection="Badges" id=formId type="update" doc=this)
