with group
  .row
    .col-xs-12
    
      h2= displayName
      p createdBy: {{createdByName}}
  .row
    .col-xs-6
      h3 members
      ul
        each members
          li
            = memberName
            if role
              |({{role}})
      if canEdit
        +quickForm(collection="Groups" id=formId type="update" doc=this)
      else
        .alert.alert-warning
          p You can't edit this thread.
    .col-xs-6
      if canView
        if noMessages
          .alert.alert-warning
            p No messages yet on this thread
        else
          .well
            each messages
              .media
                .media-left
                  img.media-object(src=userProfileImageUrl style="width: 64px; height: 64px;")
                .media-body
                  h4.media-heading {{creatorName}}:
                  p= body
                  with claimedPatch
                    p
                      | and claimed
                      b {{displayName}}
                      img(src=patchImageUrl style="width: 64px; height: 64px;")
      if canPost
        h3 Post to message to thread
        +quickForm(id="insertMessageForm" type="method" meteormethod="messages.insert" schema=insertMessageFormSchema doc=preMessage)
        //- +afQuickField(name='body' rows=5)
        //- +afQuickField(name='claim' )
        //- +afQuickField(name='groupId' type="hidden")
        //- +afQuickField(name='createdAt' type="hidden")
        //- +afQuickField(name='createdBy' type="hidden")
        //- button.btn.btn-primary(type='submit') Post to thread
