.container-fluid
  .row #[.col-xs-12 #[h1 profile]]
  .row
    .col-xs-6
      .media
        .media-left
          with userProfileImage
            img.media-object(src=url)
        with user
          .media-body
            h4.media-heading= name
            with profile
              p= bio
            .map-container
              +googleMap(name="exampleMap" options=profileMapOptions)
      if canEdit
        hr
        +autoForm(collection="Meteor.users" id='userUpdate' type="update" doc=user)
          +afQuickField(name='profile')
          button.btn.btn-primary(type='submit') Save profile
    .col-xs-6
      h3 joined relations
      ul
        each relations
          li
            a(href='{{relationLink}}')= displayName
      h3 assigned badges
      ul
        each badges
          li
            with badgeImage
              img.badge-image(src=url)
            a(href="/badge/{{_id}}")= displayName
            
      h3 claimed patches
      ul
        each myPatches
          li
            with patchImage
              img.patch-image(src=url)
            a(href="/patche/{{_id}}")= displayName
