with relation
  .row
    .col-xs-12
    
      h2= displayName
      p createdBy: {{createdBy}}
      if members
        h3  members
        ul
          each members
            li= email
  .row
    .col-xs-6
      if canEdit
        +quickForm(collection="Relations" id=formId type="update" doc=this)
    
    .col-xs-6
      if canView
        h3 Thread
        ul
          each knots
            li
              | #{{_id}} - {{creatorName}} said:
              p.well
                | {{body}}
                ul
                  each claim
                    li
                      b {{claimaintName}}
                      |  claimed
                      b {{patchName}}
      if canPost
        h3 Post to knot to thread
        +quickForm(id="insertKnotForm" type="method" meteormethod="knots.insert" schema=insertKnotFormSchema doc=preKnot)
        //- +afQuickField(name='body' rows=5)
        //- +afQuickField(name='claim' )
        //- +afQuickField(name='relationId' type="hidden")
        //- +afQuickField(name='createdAt' type="hidden")
        //- +afQuickField(name='createdBy' type="hidden")
        //- button.btn.btn-primary(type='submit') Post to thread
